{{!--

If the user is logged in and they are an admin user, and 'GET /admin' endpoint is called, you will render this view
based on the specs.



--}}

<h1>Welcome {{firstName}}</h1>
    <p>The time is now: {{currentTime}}</p>
    <p>You get super secret admin access since you are an admin. Remember, with great power comes great responsibility.</p>
    <p><a href="/protected">Protected Page</a></p>
    <p><a href="/logout">Logout</a></p>